.image-upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    gap: 50px;
}

.images-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.fileUploader {
    align-self: flex-end;
    justify-self: flex-end;
}

.input-container {
    position: absolute;
    background-color: #f9f9f9;
    bottom: 0;
    width: 100%;
    padding: 20px;
  }


.text-container {
    display: flex;
    justify-content: space-around;
  
  }
  
  .btn-container {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-container button {
    margin: 0px 10px;
    width: 160px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
  .btn-container button:hover{
    background-color: #000000;
  }
  
  input {
    width: 75%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 2px solid black;
  }

  .loader-spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    opacity: 50%;
  }